.blankButton {
  background:none;
  border:none;
  margin:0;
  padding:0;
}
/* Button 1 */
button.cooldown1 {
  background-color: transparent;
   min-height: 48px;
   min-width: 144px;
   position: relative;
   margin: 5px;
   border-radius: 10px;
   border-style: solid;
   padding: 0 15px;
   font-size: 16px;
   outline: none;
   outline: none;
   overflow: hidden;
   cursor: pointer;
}
button.cooldown1:active, button.cooldown1:focus {
   outline: none;
}
button.cooldown1:disabled {
   color: #d9d9d9;
   cursor: default;
   box-shadow: inset 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
}
button.cooldown1:disabled:after {
   content: '';
   position: absolute;
   bottom: 0;
   width: 100%;
   left: 0;
   opacity: 0.5;
   min-height: 48px;
   background: #000000;
   animation: cooldown1 3s linear;
}
@keyframes cooldown1 {
   0% {
     width: 100%;
  }
   100% {
     width: 0;
  }
}
/* Button 2 */
button.cooldown2 {
  background-color: transparent;
   min-height: 48px;
   min-width: 144px;
   position: relative;
   margin: 5px;
   border-radius: 10px;
   border-style: solid;
   padding: 0 15px;
   font-size: 16px;
   outline: none;
   overflow: hidden;
   cursor: pointer;
}
button.cooldown2:active, button.cooldown2:focus {
   outline: none;
}
button.cooldown2:disabled {
   color: #d9d9d9;
   cursor: default;
   box-shadow: inset 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
}
button.cooldown2:disabled:after {
   content: '';
   position: absolute;
   bottom: 0;
   width: 100%;
   left: 0;
   opacity: 0.5;
   min-height: 48px;
   background: #000000;
   animation: cooldown2 6s linear;
}
@keyframes cooldown2 {
   0% {
     width: 100%;
  }
   100% {
     width: 0;
  }
}
/* Button 3 */
button.cooldown3 {
  background-color: transparent;
   min-height: 48px;
   min-width: 144px;
   position: relative;
   margin: 5px;
   border-radius: 10px;
   border-style: solid;
   padding: 0 15px;
   font-size: 16px;
   outline: none;
   overflow: hidden;
   cursor: pointer;
}
button.cooldown3:active, button.cooldown3:focus {
   outline: none;
}
button.cooldown3:disabled {
   color: #d9d9d9;
   cursor: default;
   box-shadow: inset 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
}
button.cooldown3:disabled:after {
   content: '';
   position: absolute;
   bottom: 0;
   width: 100%;
   left: 0;
   opacity: 0.5;
   min-height: 48px;
   background: #000000;
   animation: cooldown3 15s linear;
}
@keyframes cooldown3 {
   0% {
     width: 100%;
  }
   100% {
     width: 0;
  }
}
/* Combat Button 1 */
#combatButton1 {
  background-color: transparent;
   min-height: 48px;
   min-width: 144px;
   position: relative;
   margin: 5px;
   border-radius: 10px;
   border-style: solid;
   padding: 0 15px;
   font-size: 16px;
   outline: none;
   overflow: hidden;
   cursor: pointer;
}
#combatButton1:active, #combatButton1:focus {
   outline: none;
}
#combatButton1:disabled {
   color: #d9d9d9;
   cursor: default;
   box-shadow: inset 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
}
#combatButton1:disabled:after {
   content: '';
   position: absolute;
   bottom: 0;
   width: 100%;
   left: 0;
   opacity: 0.5;
   min-height: 48px;
   background: #000000;
   animation: combatButton1 3s linear;
}
@keyframes combatButton1 {
   0% {
     width: 100%;
  }
   100% {
     width: 0;
  }
}
/* Combat Button 2 */
#combatButton2 {
  background-color: transparent;
   min-height: 48px;
   min-width: 144px;
   position: relative;
   margin: 5px;
   border-radius: 10px;
   border-style: solid;
   padding: 0 15px;
   font-size: 16px;
   outline: none;
   overflow: hidden;
   cursor: pointer;
}
#combatButton2:active, #combatButton2:focus {
   outline: none;
}
#combatButton2:disabled {
   color: #d9d9d9;
   cursor: default;
   box-shadow: inset 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
}
#combatButton2:disabled:after {
   content: '';
   position: absolute;
   bottom: 0;
   width: 100%;
   left: 0;
   opacity: 0.5;
   min-height: 48px;
   background: #000000;
   animation: combatButton2 8s linear;
}
@keyframes combatButton2 {
   0% {
     width: 100%;
  }
   100% {
     width: 0;
  }
}